@page "/PoQuiz"

@using mbbs_testing.Models
@inject HttpClient Http


<h3>PoQuiz</h3>


@if(!quizQuestions?.Any() ?? true)
{
    <p>Loading quiz...</p>
}
else
{
    <p>Quiz loaded with (@quizQuestions[1].question) questions.</p>
}




@code {

    List<QuestionItem>? allQuestions = new();
    List<QuestionItem>? quizQuestions = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var rng = new Random();
            allQuestions = await Http.GetFromJsonAsync<List<QuestionItem>>("sample-data/first_800.json");
            quizQuestions = allQuestions.OrderBy(q => rng.Next()).Take(20).ToList();
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error loading questions: {ex.Message}");
        }
   
    }

}
