@page "/question"
@using System.Text.Json.Serialization
@inject HttpClient Http

<h3>Question</h3>

@foreach (var q in Questions)
{
    <div>@q.Question</div>
    <ul>
        @foreach (var opt in q.Options)
        {
            <li>@opt</li>
        }
    </ul>
}



@code {
    private List<QuizQuestion> Questions = new();

    protected override async Task OnInitializedAsync()
    {
        var url = "https://meceepgplayground.blob.core.windows.net/datasetpg/train.json";
        Questions = await Http.GetFromJsonAsync<List<QuizQuestion>>(url);

        // Pick 20 random questions
        Questions = Questions.OrderBy(x => Guid.NewGuid()).Take(20).ToList();
    }


    public class QuizQuestion
    {
        [JsonPropertyName("id")]
        public string Id { get; set; }

        [JsonPropertyName("question")]
        public string Question { get; set; }

        [JsonPropertyName("exp")]
        public string Explanation { get; set; }

        [JsonPropertyName("cop")]
        public int CorrectOption { get; set; } // 1-based index of the correct answer

        [JsonPropertyName("opa")]
        public string OptionA { get; set; }

        [JsonPropertyName("opb")]
        public string OptionB { get; set; }

        [JsonPropertyName("opc")]
        public string OptionC { get; set; }

        [JsonPropertyName("opd")]
        public string OptionD { get; set; }

        [JsonPropertyName("subject_name")]
        public string SubjectName { get; set; }

        [JsonPropertyName("topic_name")]
        public string TopicName { get; set; }

        [JsonPropertyName("choice_type")]
        public string ChoiceType { get; set; } // e.g., "single"

        // Optional: helper property to get all options in a list
        [JsonIgnore]
        public string[] Options => new string[] { OptionA, OptionB, OptionC, OptionD };
    }

}
